<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}<title>Haine Library</title>{% endblock %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body class="bg-dark text-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Haine Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'books' %}">All books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'authors' %}">All authors</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User: {{ user.get_username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="{% url 'my-borrowed' %}">My Borrowed</a>
              {% if user.is_staff %}
              <div class="dropdown-divider"></div>
                <h6 class="dropdown-header dropdown-header-custom font-weight-bold">Staff Panel</h6>
                <a class="dropdown-item" href="{% url 'borrowed' %}">All Borrowed</a>
                <a class="dropdown-item" href="{% url 'book_create' %}">Assign New Book</a>
                <a class="dropdown-item" href="{% url 'author_create' %}">Create New Author</a>
              {% endif %}
              <div class="dropdown-divider"></div>
              <div class="dropdown-item">
                <form id="logout-form" method="post" action="{% url 'logout' %}" class="d-flex justify-content-between">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-link p-0">Logout</button>
                </form>
              </div>
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container mt-4">
    {% block content %}{% endblock %}
  </div>

  <footer class="footer bg-dark mt-auto py-3">
    <div class="container text-center">
      <span class="text-muted">Haine Library &copy; 2024</span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
