{% extends "base_generic.html" %}

{% block content %}
<h1>Author Name: {{author.first_name}}, {{author.last_name}}</h1>

<p>{{author.date_of_birth}} ~ {{author.date_of_death}}</p> <!-- author detail link not yet defined -->


<div style="margin-left:20px;margin-top:20px">
    <hr>
    <h4>Books</h4>
    <hr> 
    {% if books %}
        <ul>
        {% for book in books %}
            <li>
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                <p><strong>Summary:</strong> {{ book.summary }}</p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>This author has not written any books.</p>
    {% endif %}
</div>
{% endblock %}