{% extends "base_generic.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Author List</h1>
    {% if author_list %}
    <ul class="list-group">
      {% for author in author_list %}
      <li class="list-group-item">
        <a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="text-muted">There are no authors in the library.</p>
    {% endif %}
</div>
{% endblock %}

