{% extends "base_generic.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">{{ book.title }}</h2>
        <p class="card-text"><strong>Author:</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
        <p class="card-text"><strong>Summary:</strong> {{ book.summary }}</p>
        <p class="card-text"><strong>ISBN:</strong> {{ book.isbn }}</p>
        {% if user.is_staff %}
        <div class="d-flex justify-content-end">
          <a href="{% url 'book_update' book.id %}" class="btn btn-primary mr-2">Update Book</a>
          <a href="{% url 'book_delete' book.id %}" class="btn btn-danger">Delete Book</a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Book Availability</h2>
        <ul class="list-group">
            <div style="margin-left:20px;margin-top:20px">
                <h4>Rental Status</h4>
                {% for copy in book.bookinstance_set.all %}
                  <hr>
                  <div class="d-flex justify-content-between align-items-center">
                    <h3 class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
                      {{ copy.get_status_display }}
                    </h3>
                    {% if copy.status == 'a' %}
                      <form method="post" action="{% url 'rent_book' copy.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="book_instance_id" value="{{ copy.pk }}">
                        <div class="form-group">
                          <label for="due_back">Due date:</label>
                          <input type="date" name="due_back" class="form-control" id="due_back">
                        </div>
                        <button type="submit" class="btn btn-primary">Rent</button>
                      </form>
                    {% endif %}
                  </div>
                  {% if copy.status != 'a' %}
                    <p><strong>Borrowed by:</strong> {{ copy.borrower }}</p>
                    <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
                  {% endif %}
                  <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
                  <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
                {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
