{% extends "base_generic.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Books</h2>
        <ul class="list-group">
          {% for book in book_list %}
            <li class="list-group-item"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> by {{ book.author }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% block pagination %}
      {% if is_paginated %}
        <div class="pagination justify-content-center">
          <span class="page-links">
            {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
          </span>
        </div>
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}
